@(form: Form[User])(implicit flash: Flash)

@main("Login Page") {

 <h2>Login</h2>
 <h5>try logging in with <em>admin@@admin.com</em> and <em>pass</em>!</h5>
 
 @helper.form(action = routes.Application.authenticate()) {
 
  @form.globalError.map { error => <p class="error">@error.message</p> }
            
  @flash.get("success").map { message => <p class="success">@message</p> }
  
  @helper.inputText(form("email"), '_label -> "Username: ", '_showConstraints -> false)
  @helper.inputPassword(form("password"), '_label -> "Password: ", '_showConstraints -> false)
  
  <p>
   <input type="submit" class="btn primary" value="login">
  </p>
  
 }
}